{% extends 'index.html' %}

{% block body %}
<body style="background-color:LightCyan">
<br>
<br>
<div align="center" style="font-size:20px" >
<br><br>
<h2 align="center" class="text-warning">Giving to charity strengthens personal values</h2>
<p class="fs-5 text-black">In our research report, Why we give, a feeling of social conscience was the most widely-cited reason to give to charity.</p>
    <p>Whatever type of charity work they supported,</p><p>
    96% of people said they felt they had a moral duty to use what they had to help
    others – a sentiment very much rooted in their personal values and principles.
</p>
<p class="fs-5 text-black">Having the power to improve the lives of others is,
    to many people, a privilege, and one that comes with its own sense of obligation.</p>
    <p>
    Acting on these powerful feelings of responsibility is a great way to reinforce our own
    personal values and feel like we are living in a way that is true to our own beliefs.</p>

<h2 align="center" class="text-warning"> Giving is more impactful than ever</h2><br>
<p class="fs-5 text-black">Many people are concerned that their donations to charity may be reduced by
    tax or administrative costs</p><p>preventing the full amount from reaching the people
    or causes they really want to help. Thankfully there are ways to make the most of every donation to charity.</p>
<p class="fs-5 text-black">If you’re a UK taxpayer you can boost the amount of every donation you make by giving
    through Gift Aid.</p>
    <p> an Income Tax relief programme created to help charities get the most out
    of the funds they receive.</p>
<p>As Gift Aid enables the charity to recover the basic rate of tax on
    your donation, the scheme effectively adds 25p to each £1 you give at no extra cost to you.</p>
</div>
</body>
{% endblock %}