{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SDP PROJECT</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link text="text/css"   rel="stylesheet" href="{% static 'css/adminstyle.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body >
<style>
    a {
    color: white;
    }
</style>
<div style="background-color:red; padding:20px;font-size:15pt;color:white;">
<a href="{% url 'adminhome' %}">Home</a>&nbsp;&nbsp;&nbsp;&nbsp
<a href="{% url 'adminchangepwd' %}">Change Password</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="{% url 'admindonar' %}">Donar</a>&nbsp;&nbsp;&nbsp;
<a href="{% url 'adminuser' %}">User</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="{% url 'logout' %}">Logout</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</div>
<h3 align="right" style="color: green"><i>Welcome {{adminuname}}</i></h3>

<center>
{% block 'body' %}
<img src="https://www.sakshemit.com/img/sk/donor_banner54.png" width="1560px" height="660px">
{% endblock %}
    </center>
</body>
</html>