{% extends 'index.html' %}
{% load static %}

{% block body %}
<body style="background-color:Azure">

<img src="{% static 'images/image2.jpg' %}" style="width:100%;height:50%"/>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title style="font-size: 24px;">Contact Us</title>
</head>
<body >
<div align="center" style="font-size: 20px ;">
<br>
<br>

    <h1 style="font-size: 45px;">CONTACT US</h1><br>
    <br>
    <p style="color:green" style="font-size:40px;">Feel free to reach out to us using the details below:</p>
    <br>
    <br>
    <div>
    <ul>
        <li><strong>Address:</strong> KL University</li>
        <li><strong>Phone:</strong> 9573724599</li>
        <li><strong>Email:</strong> sasivenkat@gmail.com</li>
        <a href="https://www.linkedin.com/">LinkedIn</a>
    </ul>
        </div>
    <br>
    <br>

    <div>
    <ul>
        <li><strong>Address:</strong> KL University</li>
        <li><strong>Phone:</strong> 9582212454</li>
        <li><strong>Email:</strong> teja@gmail.com</li>
    </ul>
        </div>
    <br>
    <br>
    <ul>
        <li><strong>Address:</strong> KL University</li>
        <li><strong>Phone:</strong> 9618635274</li>
        <li><strong>Email:</strong> daivalokesh@gmail.com</li>
    </ul>
</div>
</body>

</html>
</body>
{% endblock %}