{% extends 'userhome.html' %}
{% block body %}

<div class="container contact">
  {% csrf_token %}
  <form action = "{% url 'contactmail' %}" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-3">
                <div class="contact-info">
                    <img src="https://image.ibb.co/kUASdV/contact-image.png" alt="image"/>
                    <h2>Please share ur Sweet and Sour Feedback with me</h2>
                    <h4>I would love to hear from you !</h4>
                </div>
            </div>
            <div class="col-md-9">
                <div class="contact-form">
                    <div class="form-group">
                      <label class="control-label col-sm-2" for="firstname">First Name:</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="firstname" placeholder="Enter First Name" name="firstname">
                      </div>
                        <br>
                        <br>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-sm-2" for="lname">Last Name:</label>
                      <div class="col-sm-10">
                       <input type="text" class="form-control" id="lname" placeholder="Enter Last Name" name="lastname">
                    </div>
                    </div>
                    <br>
                    <br>
                    <br>
                    <div class="form-group">
                      <label class="control-label col-sm-2" for="email">Email:</label>
                      <div class="col-sm-10">
                        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                      </div>
                    </div>
                    <br>
                        <br>
                    <div class="form-group">
                      <label class="control-label col-sm-2" for="comment">Comment:</label>
                      <div class="col-sm-10">
                        <textarea class="form-control" rows="8" id="comment" name="comment"></textarea>
                      </div>
                    </div>
                    <br>
                    <br>
                    <br>
                    <div class="form-group">
                      <div class="d-grid gap-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">Submit</button>
                          <br><br><br>
                      </div>
                    </div>
                </div>
            </div>
        </div>
  </form>
</div>
{% endblock %}