{% extends 'adminhome.html' %}
{% block 'body' %}
<h3 align="center">
   <u>view all Donars</u>
</h3>
<h4>Total Donars={{count}}</h4>
<input class="form-control" id="myInput" type="text" placeholder="Email"><br>

<table align="center" border="2" width="10%" height="10%" class="table table-bordered table-striped">
    <thead>
    <tr bgcolor="blue">
        <td>Id</td>
        <td>Fullname</td>
        <td>Gender</td>
        <td>State</td>
        <td>Region</td>
        <td>Email</td>
        <td>Contact</td>
    </tr>
    </thead>
     <tbody id="myTable">
    {%for donar in donardata  %}

    <tr>
        <td>{{donar.id}}</td>
        <td>{{donar.fullname}}</td>
        <td>{{donar.address}}</td>
        <td>{{donar.state}}</td>
        <td>{{donar.region}}</td>
        <td>{{donar.email}}</td>
        <td>{{donar.contact}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

{% endblock %}